/* Wrapping div */
.DailyTracking__Wrapper {
	flex: 1 0 calc(100% - max(30%, 24rem));
}

/* Container */
.DailyTracking__Container {
	@apply relative rounded p-6 shadow-lg bg-white h-full;
}

.DailyTracking__InnerContainer {
	@apply px-2;
}

.DailyTracking__InnerContainer:not(:first-child) {
	@apply mt-4;
}

.DailyTracking__InnerContainer.LogsContainer {
	height: clamp(10rem, calc(100% - 8.5rem), 50rem);
	@apply relative;
}

.DailyTracking__NewLog {
	@apply flex items-center px-2;
}

.DailyTracking__FieldContainer {
	@apply mr-2 py-0.75;
}

.DailyTracking__TextInput {
	@apply rounded-2xl w-16 py-1 px-3 border-none bg-gray-500 text-white shadow-md text-sm font-semibold;
}

.DailyTracking__TextInput.Wide,
.DailyTracking__TextInput:focus {
	@apply w-24;
}

.DailyTracking__TextInput.ExtraWide {
	@apply w-32;
}

.DailyTracking__TextInput.HasValue {
	@apply bg-teal-400;
}

.DailyTracking__TextInput::placeholder {
	@apply text-gray-300;
}

.DailyTracking__TextContainer {
	@apply;
}

.DailyTracking__Text {
	@apply font-bold truncate max-w-4xs;
}

.DailyTracking__Logs {
	width: calc(100% - 1rem);
	height: calc(100% - 2rem);
	@apply absolute overflow-auto;
}

.DailyTracking__Logs::-webkit-scrollbar {
	@apply w-4;
}

.DailyTracking__Logs::-webkit-scrollbar-track {
	@apply bg-white;
}

.DailyTracking__Logs::-webkit-scrollbar-thumb {
	@apply bg-gray-400 rounded-lg border-4 border-solid border-white;
}

.DailyTracking__Log {
	@apply flex items-center px-2 pb-2 border-b border-solid border-gray-400 mb-2;
}

.DailyTracking__Log:last-child {
	@apply pb-0 border-none mb-0;
}

.DailyTracking__CreatedAt {
	@apply mr-2;
}

.DailyTracking__CreatedAtShort {
	@apply text-sm text-gray-500 font-semibold;
}

.DailyTracking__Timestamp {
	@apply rounded-2xl bg-teal-400 py-1 px-3 shadow-md text-white text-sm font-semibold;
}

.DailyTracking__LogOptionsWrapper {
	@apply flex flex-grow justify-end opacity-0;
}

.DailyTracking__Log:hover .DailyTracking__LogOptionsWrapper,
.DailyTracking__LogOptionsWrapper.Editing {
	@apply opacity-100;
}

.DailyTracking__LogOption {
	@apply rounded-full ml-2 p-1 text-gray-200 opacity-50;
}

.DailyTracking__LogOptionsWrapper.Editing .DailyTracking__LogOption,
.DailyTracking__LogOption:hover {
	@apply opacity-100;
}

.DailyTracking__LogOption.Save {
	@apply bg-teal-500;
}

.DailyTracking__LogOption.Cancel,
.DailyTracking__LogOption.Edit {
	@apply bg-orange-400;
}

.DailyTracking__LogOption.Remove {
	@apply bg-red-600;
}
